@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,500&display=swap');
@import "tailwindcss";

/* Custom CSS Variables */
@theme inline {
  --color-text: #1A1A1A;
  --color-muted: #8C93A1;

  --color-bg: #fff;
  --color-bgSubtitle: #FAFBFC;
  --color-bgAlt: #E1E1E1;
  --color-border: #C0C0C0;

  --color-primary: #2F72E2;
  --color-primaryHover: #677289;

  --color-info: #F59D0E;
  --color-danger: #EF494F;

  --color-disabled: #9DA4B2;
  --color-hover: #F9FAFB;

  --font-inter: "Inter", sans-serif; 
  --tracking-tight: -0.015em;

  --shadow-button: 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(0, 0, 0, 0.04); 
  --shadow-buttonActive: 0px 0px 0px 1.5px rgba(47, 114, 226, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.02), 0px 1px 3px rgba(0, 0, 0, 0.04);

  --animate-in: enter 150ms ease-in-out 1;
  --tw-enter-opacity: 0;
  --tw-enter-scale: initial;
  --tw-enter-rotate: initial;
  --tw-enter-translate-x: initial;
  --tw-enter-translate-y: 0.5rem;

  @keyframes enter {
    from {
      opacity: var(--tw-enter-opacity, 1);
      transform: translate3d(
          var(--tw-enter-translate-x, 0),
          var(--tw-enter-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1),
          var(--tw-enter-scale, 1)
        )
        rotate(var(--tw-enter-rotate, 0));
    }
  }
  
  --animate-out: exit 150ms ease-in-out 1;
  --tw-exit-opacity: 0;
  --tw-exit-scale: initial;
  --tw-exit-rotate: initial;
  --tw-exit-translate-x: initial;
  --tw-exit-translate-y: 0.5rem;

  @keyframes exit {
    to {
      opacity: var(--tw-exit-opacity, 1);
      transform: translate3d(
          var(--tw-exit-translate-x, 0),
          var(--tw-exit-translate-y, 0),
          0
        )
        scale3d(
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1),
          var(--tw-exit-scale, 1)
        )
        rotate(var(--tw-exit-rotate, 0));
    }
  }
}
